<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sign up</title>
    </head>
    <body>
        <h1>Sign up</h1>
        <form action="/createAccount" method="post">
            <label for="firstName">firstName</label>
            <input type="text" name="firstName" id="firstName" placeholder="John"><br/>
            <label for="lastName">lastName</label>
            <input type="text" name="lastName" id="lastName" placeholder="Doe"><br/>
            <label for="username">username</label>
            <input type="text" name="username" id="username" placeholder="jodo"><br/>
            <label for="password1">password</label>
            <input type="password" name="password1" id="password1" placeholder="parola"><br/>
            <label for="password2">password</label>
            <input type="password" name="password2" id="password2" placeholder="parola"><br/>
            <input type="submit" name="signup" id="signup" value="Sign up">
        </form>
    </body>
</html>